# =============== #
# Unity generated #
# =============== #
JumpDump/Temp/
JumpDump/Library/
JumpDump/obj/

CrossyRoad/Temp/
CrossyRoad/Library/
CrossyRoad/obj/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
JumpDump/*.csproj
*.pidb
*.suo
JumpDump/*.sln
*.user
*.unityproj
*.booproj

CrossyRoad/*.csproj
*.pidb
*.suo
CrossyRoad/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
JumpDump/.vs/JumpDump/v15/Server/sqlite3/storage.ide
JumpDump/.vs/JumpDump/v15/Server/sqlite3/db.lock
JumpDump/.vs/JumpDump/v15/Server/sqlite3/storage.ide-wal
JumpDump/.vs/JumpDump/v15/Server/sqlite3/storage.ide-shm
CrossyRoad/.vs/CrossyRoad/v15/Server/sqlite3/storage.ide
CrossyRoad/.vs/CrossyRoad/v15/Server/sqlite3/db.lock
CrossyRoad/.vs/CrossyRoad/v15/Server/sqlite3/storage.ide-wal
CrossyRoad/.vs/CrossyRoad/v15/Server/sqlite3/storage.ide-shm
