# =============== #
# Unity generated #
# =============== #
JumpDump/Temp/
JumpDump/Library/
JumpDump/obj/


# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
JumpDump/*.csproj
*.pidb
*.suo
JumpDump/*.sln
*.user
*.unityproj
*.booproj


# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
JumpDump/.vs/JumpDump/v15/Server/sqlite3/storage.ide
JumpDump/.vs/JumpDump/v15/Server/sqlite3/db.lock
JumpDump/.vs/JumpDump/v15/Server/sqlite3/storage.ide-wal
JumpDump/.vs/JumpDump/v15/Server/sqlite3/storage.ide-shm
